/* variables */

:root {
    --p-color: #095696;
    --s-color: #EBB952;
    --t-color: #2684D1;
    --bg-color: #FFFFFF;
}

/* Estilos generales */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    /*16px=1rem */
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

/* Fin */

/* Clase especial */

.clear {
    margin-top: 8.125rem;
}

/* Clases comunes NOSOTROS - PROYECTOS HABITACIONALES*/

.title-section {
    margin: 60px 0 20px 0;
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--p-color);
    font-family: 'Montserrat', sans-serif;
}

.section-align {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: auto;
}

.section-content {
    width: 90%;
    display: flex;
    margin-right: 0;
    color: var(--bg-color);
}

.logo-section {
    width: 30%;
    padding: 20px;
    /* border: 1px solid rgba(64, 72, 80, .6); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-section {
    width: 70%;
    background-color: var(--p-color);
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.title-text {
    margin: 5px 0;
    font-size: 2rem;
    font-weight: bold;
}

.description-text {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    line-height: 1.2;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 250px;
    height: 50px;
    background-color: var(--s-color);
    color: var(--bg-color);
    border: 2px solid var(--bg-color);
}

/* Header y navegación */

.header {
    margin: 0.625rem auto;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
    max-width: 90%;
    height: 100px;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(236, 236, 236, 0.678);
}

.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 9.375rem;
    height: auto;
}

.menu {
    display: flex;
    width: 80%;
    align-items: center;
}

.item-menu {
    padding: 0 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.item-menu a {
    color: var(--p-color);
    font-size: 1rem;
}

.item-menu a::after {
    display: block;
    content: "";
    background-color: var(--s-color);
    width: 0;
    height: 2px;
    transition: all .5s;
}

.item-menu a:hover::after {
    width: 100%;
}

/* Sección portada principal */

.intro {
    margin: 0 auto;
    background: url(../imgs/bghouse.jpg) center/cover no-repeat;
    width: 100%;
    height: 37.5rem;
    position: relative;
}

.intro .tel {
    align-items: center;
    /*                                       repet  position X Y          / size  W H*/
    /* background: url(../icons/icontel.svg) no-repeat 1.875rem 0.9375rem / 2.50rem 2.50rem; */
    background-color: var(--t-color);
    color: var(--bg-color);
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    height: 4.375rem;
    justify-content: space-evenly;
    position: absolute;
    right: 3.125rem;
    width: 17rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.625rem;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    width: 35%;
    height: 23.125rem;
    color: var(--bg-color);
    bottom: -7.1875rem;
    left: 0.625rem;
}

.card__lema {
    font-size: 2.5rem;
    margin: 0;
    width: 100%;
    height: 70%;
    background: var(--p-color);
    text-transform: uppercase;
    padding: 2.1875rem;
}

.card__lema::after {
    content: "";
    background: var(--bg-color);
    display: block;
    width: 100%;
    height: 0.1875rem;
}

.card__description {
    margin: 0;
    background: var(--t-color);
    width: 100%;
    height: 30%;
    padding: 0.625rem 2.1875rem;
}

/* Sección Nosotros  Misión Visión*/

.mission__vision {
    background: url(../imgs/bg-main.jpg) center/cover no-repeat fixed;
    margin-top: 20px;
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
}

.mv-content {
    margin: 10px;
    width: 25%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5625rem;
    background-color: rgba(94, 90, 90, 0.4);
}

.mv-title, .mv-text {
    color: var(--bg-color);
    text-align: center;
    padding: 10px;
}

.mv-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.mv-title::after {
    margin-top: 2px;
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--s-color);
    transition: all .2s;
}

.mv-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

/* Social Bar */

.socialbar {
    position: fixed;
    /* background: var(--s-color); */
    width: 40px;
    height: 200px;
    right: 0;
    bottom: 9.375rem;
}

.socialbar__icon {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.socialbar__icon--social {
    display: flex;
    justify-content: center;
    align-items: space-around;
    width: 100%;
    height: 25%;
    border-bottom: solid rgba(94, 90, 90, 0.678);
}

.socialbar__icon img {
    width: 2rem;
}

.bgfacebook {
    background: var(--p-color);
}

.bgwhatsapp {
    background: #00e676;
}

.bginstagram {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
.bgmail{
    background: #095696; 
}

/* Nuestro Equipo Cards */

/*Utilidades*/

.contenedor-cards {
    background: url(../imgs/bg-main.jpg) center/cover no-repeat fixed;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__cargo {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile__cargo::after{
    content: "";
    display: flex;
    background: var(--s-color);
    width:0;
    height: 2px;
    margin-top: 3px;
    transition: all .5s;
}

.profile__name,
.profession__name,
.email,
.tel__tel{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1rem;
    padding-top: 1px;
}
.contenedor-cards {
    display: flex;
    justify-content: center;
}

.contenedor-cards .profile {
    margin-right: 1rem;
    min-width: 250px;
}
.bg-gerente{
    background: url(../imgs/gerente-inverhome.jpg);
}

.bg-subgerente{
    background: url(../imgs/subgerente-inverhome.jpg);
}
.bg-direcingenieria{
    background: url(../imgs/director-ingenieria-inverhome.jpeg);
}
.bg-direccompras{
    background: url(../imgs/director-compraslegal-inverhome.jpg);
}

.profile {
    border: 1px solid rgba(236, 236, 236, 0.678);
    position: relative;
    width: 250px;
    height: 350px;
    background-size: cover;
    overflow: hidden;
}

.profile__datos {
    line-height: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: absolute;
    color: white;
    width: 100%;
    height: 40%;
    background: rgba(9, 86, 150, .8);
    bottom: -100px;
    border-top: 2px var(--bg-color) solid;
    transition: bottom 0.5s;
}
.profile:hover .profile__datos {
    bottom: 0px;
}
.profile:hover .profile__cargo::after {
    width: 70%;
}

.email {
    display: flex;
    justify-content: center;
}

.tel {
    display: flex;
    justify-content: center;
}

.tel__icon, .email__icon {
    padding: 0 0.2rem 0 0;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--p-color);
    margin-top: 40px;
    height: 200px;
}

.menu__footer {
    width: 50%;
    padding-top: 50px;
    font-size: 1.25rem;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}

.menu__footer-item {
    color: var(--bg-color);
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.menu__footer-item a:after {
    display: block;
    content: "";
    background-color: var(--s-color);
    width: 0;
    height: 2px;
    transition: all .5s;
}

.menu__footer-item a:hover::after {
    width: 100%;
    color: var(--s-color);
}

.copy {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    color: var(--s-color);
    font-size: 1.25rem;
}

/* socialbar footer */

.socialbarfooter {
    color: rgba(94, 90, 90, 0.678);
    margin-top: 10px;
    width: 20%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.socialbarfooter__icon img {
    width: 1.5rem;
}